
body {
  min-height: 100vh;
  max-width:1024px;
  margin: auto;
}

.search {
display: grid;
justify-content: center;
margin: auto; 
width: 60%; 
}

input {
  width: 470px;
  height: 55px;
  padding-left: 10px;
  border-radius: 7px;
  border: solid 1px rgb(177, 172, 172) ;
  margin: 40px auto;
  font-size: 1.5rem;
}

img {
  width:200px;
  height:200px;
  border-radius: 5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 25px;
  justify-items: center;
}


